.header {
    display: flex;
    height: 119px;
    padding-top: 45px;
    border-bottom: 1px solid #545454;
    align-items: flex-start;
    justify-content: space-between;
}
@media (max-width: 700px) {
    .header {
        height: 84px;
        padding-top: 28px;
        margin: 0 -16px 0;
    } 
 }

 .logo {
    height: 33px;
 }
 @media (max-width: 700px) {
    .logo {
        height: 24,4px;
    } 
 }

 .account {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 15px;
    line-height: 21.78px;
    padding-top: 16px;
  
    display: flex;
  }
  @media (max-width: 630px) {
    .account {
        font-weight: 400;
        font-size: 11px;
        line-height: 16.94px;
        padding-left: 15px;
    }
  }

  .account__auth {
    display: none;
  }

  .account__exit {
    display: none;
    cursor: pointer;
  }

  .account__registration {
    display: none;
    cursor: pointer;
  }

  .account__sign-in {
    display: none;
    cursor: pointer;
  }

  .account_active {
    display: block;
  }