.page {
    max-width: 880px;
    margin: 0 auto;
    padding: 0 200px 0;

    position: relative;
    z-index: 1;
}
@media (max-width: 1080px) {
    .page {
        max-width: 990px;
        margin: 0 auto;
        padding: 0 19px 0;
    }
}