.elements {
  padding-top: 51px;
         
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 700px) {
  .elements {
      display: flex;
      flex-direction: column;
      padding-top: 36px;
  }
}